.abt{
    color: white;
    font-family: arial;
    font-size: clamp( 3.2vw, 4vw, 6.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
}

.picture{
    width: 50vw;
    height: 60vh;
    background-image: url(pictures/Dizajn_bez_Názvu_4);
}
.about p{
    color:  white;
    text-align: center;
    font-size: clamp( 1.5vw, 1.75vw, 1.75vw);
    padding-right: 5vw;
    padding-left: 5vw;
}


